/**
 * Admin CSS.
 */

#wpwrap {
	background-color: #f8f9fa!important;
}

a{
	user-select: none;
}
.ihs-otp-hide{
	display: none;
}

.ihs-otp-red {
	color: #ff293f;
}

.ihs-input-wrap {
	flex-direction: row;
	align-items: center;
}

.ihs-input-wrap label {
	margin-bottom: 0;
}

.config-input-class {
	padding: 5px 10px;
	border-radius: 5px;
	width: 20rem;
}

.ihs-input-icon {
	color: white;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	margin-right: .5rem!important;
	align-items: center;
}

.ihs-bg-blue {
	background: #047afb !important;
}

.ihs-bg-light-purple {
	background: #e272e8 !important;
}

.ihs-bg-pink {
	background: #e9488b !important;
}

.ihs-bg-purple {
	background: #6e42c1 !important;
}

.ihs-bg-light-pink {
	background: #ee699f !important;
}

.ihs-input-icon .fa,
.ihs-input-icon .ihs-my-icons{
	margin: 0 auto;
}

.ihs-input-wrap .d-block {
	min-width: 220px;
}

.ihs-rating-stars .fa-star {
	font-size: 0.5rem;
}

@media ( max-width: 640px ) {
	.config-input-class {
		width: 16rem;
	}

	.ihs-input-icon {
		display: none !important;
	}

	.ihs-input-wrap label {
		margin-top: 5px;
	}

	.ihs-mobile-input-label{
		margin-top: 10px !important;
	}
}

.ihs-rating-stars {
	display: inline;
	padding: 0 11px 4px 11px;
	background: #00aae6;
	color: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.ihs-rate-us {
	display: inline-block;
	padding: 5px 10px 5px 9px;
	font-size: 0.7rem;
	background: #0279fb;
	color: #fff;
	margin-top: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

a:hover {
	text-decoration: none;
}

.orion-otp-mega-wrapper .jumbotron {
	padding: 2rem 2rem;
	background: linear-gradient(45deg, #d96be4, #0fadb1);
	text-align: center;
}

.orion-otp-mega-wrapper .jumbotron small {
	font-size: 80%;
	font-weight: 400;
	color: #e7d6de;
}

.ihs_otp_template_textarea {
	margin-top: 21px;
}

/* Mobile input field tooltip*/
.ihs-tooltip-text {
	visibility: hidden;
	width: 168px;
	font-weight: 400;
	background-color: #eaecef;
	color: #555;
	box-shadow: 0 5px 10px 2px rgba(195,192,192,.5) !important;
	text-align: center;
	border-radius: 6px;
	padding: 6px 10px;
	left: 0;
	top: 24px;
	position: absolute;
	z-index: 1;
}

.ihs-tooltip-text::before {
	content: '';
	position: absolute;
	top: -16px;
	left: 20px;
	margin-left: -5px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #eaecef transparent;
}

.ihs-tooltip-container:hover .ihs-tooltip-text {
	visibility: visible;
}

.ihs-tooltip-container {
	position: relative;
	cursor: pointer;
}

.ihs-you-tube-icon {
	color: #ff0000;
}

.ihs-you-tube-link {
	font-size: 13px;
}

#submit {
	height: 100%;
	max-width: 272px;
	width: 100%;
	/*margin: 0 auto;*/
	display: block;
	outline: none;
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
	box-sizing: border-box;
	text-align: center;
	line-height: 14px;
	font-weight: 200;
	letter-spacing: 1px;
	text-decoration: none;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
	border: none;
	text-shadow: none;
	font-size: 16px;
	cursor: pointer;
}

.tell-me-hw-link {
	font-size: 12px;
}

.ihs-video-card.card {
	padding: 0;
	box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
	border-radius: 3px;
}

.ihs-video-share-link {
	background: #4842b7;
	color: #fff;
	width: 48px;
	bottom: 25px;
	right: 0;
	position: relative;
	height: 48px;
	border-radius: 50%;
	margin-top: -24px;
	top: 0;
}

.ihs-share-icon {
	margin-left: 13px;
	margin-top: 15px;
	font-size: 20px;
	color: #fff;

}

.ihs-video-read-mr-btn {
	background: #4842b7;
	color: #fff;
	font-size: 12px;
	border-radius: 20px;
	padding: 6px 18px 6px 18px;
	line-height: 1.9;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.ihs-admin-head-cont {
	padding-left: 38px;
}

.woo-comm-coming-soon-wrap {
	background: #23292e;
	background: url('https://imransayed.com/wp-content/themes/imran-portfolio/img/header-bg.jpg');
	background-size: cover;
	color: #fff;
	margin-top: 50px;
	margin-right: 20px;
}

.otp-pro {
	color: #086aff;
}

a:focus {
	border: none;
	user-focus: none;
	user-select: none;
}









/**
 * Woocommerce Page Styles
 */
* {
	box-sizing: border-box;
}

.columns {
	float: left;
	width: 33.3%;
	padding: 8px;
}

.price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
	background-color: #111;
	color: white;
	font-size: 25px;
}

.price li {
	border-bottom: 1px solid #eee;
	padding: 12px 20px;
	text-align: center;
	font-size: 0.8rem;
}

.price .grey {
	background-color: #eee;
	font-size: 20px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

@media only screen and (max-width: 600px) {
	.columns {
		width: 100%;
	}
}


@media only screen and (min-width: 1350px) {
	.ihs-pak-cont {
		/*width: 100vw;
		margin-left: -148px;*/
	}
}

a:focus {
	outline:none;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.title {
	color: grey;
	font-size: 18px;
}

.otp-price-page button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

a {
	text-decoration: none;
}

button:hover, a:hover {
	opacity: 0.7;
}

.site-header .site-branding img{
	height: 25px;
	width: auto;
}

.single_add_to_cart_button.button, .woocommerce-cart-form__cart-item button {
	width: 180px;
}

.single-product div.product p.price {
	padding-left: 16px;
}

.site-branding {
	margin-bottom: 20px;
}

button.menu-toggle, button.menu-toggle:hover {
	border-color: #ded9d9;
	color: #555;
}

.price.panel-green>.panel-body .lead {
	text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.panel.price>.panel-heading {
	box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
	text-shadow: 0px 3px 0px rgba(50,50,50, .6);
}

.panel.price, .panel.price>.panel-heading {
	border-radius: 0px;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-body {
	padding: 15px;
}

.price.panel-red>.panel-heading {
	color: #fff;
	background-color: #D04E50;
	border-color: #FF6062;
	border-bottom: 1px solid #FF6062;
}

.price.panel-red>.panel-body {
	color: #fff;
	background-color: #EF5A5C;
}

.price.panel-blue>.panel-heading {
	color: #fff;
	background-color: #608BB4;
	border-color: #78AEE1;
	border-bottom: 1px solid #78AEE1;
}

.price.panel-blue>.panel-body {
	color: #fff;
	background-color: #73A3D4;
}

.price.panel-green>.panel-heading {
	color: #fff;
	background-color: #57AC57;
	border-color: #71DF71;
	border-bottom: 1px solid #71DF71;
}

.price.panel-green>.panel-body {
	color: #fff;
	background-color: #65C965;
}

.price.panel-grey>.panel-heading {
	color: #fff;
	background-color: #D4AF37;
	border-color: #B7B7B7;
	border-bottom: 1px solid #B7B7B7;
}

.price.panel-grey>.panel-body {
	color: #fff;
	background-color: #C5B358;
}
.ihs-pak-cont-flex{
	display: flex;
    flex-wrap: wrap;
	overflow: hidden;
}
.ihs-pak-cont .ihs-pak-item{
	width: 100%;
}

.ihs-pak-cont h3{
	font-size: 1.2rem;
}

.ihs-pak-cont .ihs-pak-item{
	margin: 30px 0;
}

.ihs-pak-item .lead{
	font-size: 16px;
	margin-bottom: 0;
}

.btn-gold {
	color: #fff;
	background-color: #C5B358;
	border-color: #C5B358;
}

.config-input-class {
	font-size: 12px !important;
}

.orion-pricing-link:hover {
	opacity: unset;
}

@media only screen and (min-width: 480px) {
	.ihs-pak-cont .ihs-pak-item{
		width: 48%;
		float: left;
		margin: 10px 1%;
	}
}
@media only screen and (min-width: 768px) {
	.ihs-pak-cont .ihs-pak-item{
		width: 32.33%;
		margin: 10px 0.5%;
	}
}
@media only screen and (min-width: 1200px) {
	.ihs-pak-cont .ihs-pak-item{
		width: 19%;
	}
}

.orion-api-msg {
	font-size: 12px;
}
