/**
 * Plugin's Styles.
 */

.ihs-otp-btn {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	margin: 24px 10px 10px 0;
}

.ihs-otp-hide {
	display: none !important;
}

#ihs-otp-reset-pass-input input{
	border: 1px solid #ccc;
	border-radius: 1px;
	box-shadow: none;
	color: #7b7b7b;
	font-size: 15px;
	height: auto;
	width: 100%;
	padding: 15px 50px;
	transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.ihs-otp-password-reset-link,
.ihs-otp-send-pass-btn {
	background-color: #e1e1e1; /* Green */
	color: #303030;
	margin-top: 10px;
	padding: 7px 13px;
	border: 1px solid #bcbcbc;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.ihs-otp-password-reset-link:hover {
	background: #c6c6c6;
}

#ihs-otp-reset-pass-input {
	position: relative;
	width: 100%;
}

.ihs-otp-prefix {
	position: absolute;
	top: 50%;
	left: 3%;
	color: #7b7b7b;
}

#ihs-otp-reset-pass-input input[type=number]::-webkit-inner-spin-button,
#ihs-otp-reset-pass-input input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ihs-mobile-no-lab {
	display: inherit;
	margin-top: 21px;
	float: left;
}

.ihs-mob-country-wrapper {
	overflow: hidden;
}

#ihs-otp-required {
	width: 100%;
	margin-top: 12px;
}

#ihs-mobile-number input[type="number"],
#ihs-otp-required input[type="number"]{
	width: 100% !important;
	padding: 10px !important;
	margin-top: 8px !important;
}

#ihs-otp-required input[type="number"] {
	height: 47px !important;
}

#ihs-country-code .ihs-country-code,
#ihs-country-code .ihs-mb-inp-field{
	width: 100% !important;
	padding: 18px !important;
	margin-top: 8px !important;
}

#ur-frontend-form .ihs-mb-inp-field,
#ur-frontend-form .ihs-country-code {
	padding: 10px !important;
}

#ihs-country-code .ihs-country-code, #ihs-country-code .ihs-mb-inp-field {
	padding: 10px !important;
}

#ihs-country-code {
	width: 100%;
	display: block;
}

#ihs-otp-reset-pass-input .ihs-otp-reset-pass-input {
	padding: 10px !important;
	height: 48px !important;
}

.ihs-country-inp-wrap,
.ihs-mob-inp-wrap {
	float: left;
}

.ihs-country-inp-wrap {
	width: 5rem;
}

#ihs-otp-reset-pass-input .ihs-otp-reset-pass-input,
.ihs-mob-inp-wrap {
	width: calc( 100% - 5rem );
}

#ihs-country-code.ihs-country-code-exis-mob .ihs-country-code {
	margin-top: 0 !important;
}

#ihs-country-code.ihs-country-code-exis-mob .ihs-reset-country-code {
	border-right: 0 !important;
}

.rmcontent .ihs-mob-country-wrapper {
	overflow: inherit;
}

.um-form #ihs-otp-reset-pass-input .ihs-otp-reset-pass-input {
	padding: 18px !important;
}

.oc-alert-pop-up {
	top: 24px;
	right: 20px;
	position: fixed;
	z-index: 9999;
	color: #fff;
	text-align: center;
	width: auto;
	border-radius: 3px;
	box-shadow: 0 2px 3px 0 rgba(195,192,192,.5) !important;
	line-height: 2;
	padding: 8px 16px 8px 16px;
	border: 1px solid #f2f2f2;
}

/**
 * Custom css
 */

#ihs-send-otp-btn, .ihs-otp-btn {
	padding: 14px 24px;
	font-size: 12px;
}

.wrap.ihs-otp {
	display: block;
}

#ihs-mobile-otp, #ihs-mobile-number input[type="number"], #ihs-otp-required input[type="number"] {
	max-width: unset;
	padding: 5px 10px 5px 16px !important;
}

#ihs-otp-required {
	margin-top: 16px !important;
	display: inline-block;
}

#ihs-country-code .ihs-mb-inp-field {
	line-height: 1rem !important;
	height: 47px !important;
}

#ihs-country-code .ihs-country-code {
	line-height: 1.6rem !important;
	text-align: center;
}

.woocommerce-input-wrapper #ihs-send-otp-btn {
	margin-left: -80px;
}

.oc-alert-pop-up {
	position: fixed !important;
	z-index: 9999999;
	top: 50%;
	padding: 0;
	left: 50%;
	right: unset;
	transform: translate(-50%, -50%);
	background: #fff !important;
	border-radius: 16px;
	min-width: 248px;
	box-shadow: 0 3px 3px 0 rgba(195,192,192,.5) !important;
	border: 1px solid #dedbdb;
}

.oc-alert-pop-up .oc-alert-pop-up-close {
	border-top: 1px solid #d7d1d1;;
	padding: 6px;
	color: #fff;
	background: black;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	cursor: pointer;
	font-weight: 400;
}

.oc-alert-pop-up-message {
	padding: 24px;
	color: #555;
}

.oc-i-icon-pop-up {
	margin-right: 5px
}

#ihs-mob-country-wrapper .ihs-country-code {
	width: 100% !important;
}